.banner {
  background: linear-gradient(-45deg, #71ee52, #101670, #f51ef5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 50vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}